modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["openjdk", "gradle", "unzip", "android-tools"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["bash", "-c", "NODE_ENV=production node dist/index.js"]

[[ports]]
localPort = 5000
externalPort = 9000

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5904
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0", "javascript_anthropic_ai_integrations:2.0.0", "github:1.0.0"]

[userenv]

[userenv.shared]
CRISIS_ENCRYPTION_KEY = "01695823cd146197b143e3f66a0a0682b1c3e5827a240a830e92ef5549ff0b9a54916194506a71b9d73ef3e386821a13abe11b49946ed9ab265b910f31f98a08"
VITE_RECAPTCHA_SITE_KEY = "6Lc5a4ksAAAAANX1djxLGYr5J7-rU8E9abn8FdxK"
